In [1]:
1e15

1000000000000000.0

In [2]:
1e16

1e+16

In [3]:
1e-4

0.0001

In [4]:
1e-5

1e-05

In [5]:
17 # 10진법

17

In [6]:
0b10001 # 2진법

17

In [7]:
0o21 # 8진법

17

In [8]:
0x11 # 16진법

17

In [9]:
bin(17)

'0b10001'

In [10]:
oct(17)

'0o21'

In [11]:
hex(17)

'0x11'

In [12]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}

In [13]:
# 교집합
print(A.intersection(B))
print(A&B)

{4, 5}
{4, 5}

In [14]:
# 합집합
print(A.union(B))
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
# 차집합
print(A.difference(B))
print(A-B)

{1, 2, 3}
{1, 2, 3}

In [16]:
numbers = [1,2,3,4,5]
square = []

for i in numbers:
    square.append(i**2)

print(square)

[1, 4, 9, 16, 25]

In [17]:
square = [i**2 for i in numbers]

In [18]:
print(square)

[1, 4, 9, 16, 25]

### 조건문을 포함한 리스트 컴프리헨션
리스트 컴프리헨션은 for 문 자음에 if <조건문> 추가 가능

In [19]:
numbers = [1,2,3,4,5]
square = []

for i in numbers:
    if i >= 3:
        square.append(i**2)

print(square)

[9, 16, 25]

In [20]:
square = [i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]

# 6. 입력과 출력
## 6.1 화면 출력
### 기본 출력

In [22]:
print("안녕 파이썬!")

안녕 파이썬!

In [25]:
print("Best", "python", "Book", sep = "-:*:-")

Best-:*:-python-:*:-Book

### 형식 지정 출력
#### 나머지 연산자(%)를 이용한 형식 및 위치 지정

In [26]:
name = "우진"
print("%s는 나의 친구입니다." % name)

우진는 나의 친구입니다.

In [27]:
r = 3
PI = 3.14159265358979
print("반지름: %d, 원주율: %f" % (r, PI))

반지름: 3, 원주율: 3.141593

#### 형식 지정 문자열에서 출력 위치 지정

In [28]:
animal_0 = "고양이"
animal_1 = "개"
animal_2 = "여우"
print("Animal: {0}".format(animal_0))
print("Animal: {0},{1},{2}".format(animal_0, animal_1, animal_2))

Animal: 고양이
Animal: 고양이,개,여우

In [29]:
print("Animal: {},{},{}".format(animal_0, animal_1, animal_2))

Animal: 고양이,개,여우

In [30]:
name = "우진"
age = 43
a = 0.1234567890123456789
fmt_string = "String: {0}. Integer Number: {1}. Floating Number: {2}"
print(fmt_string.format(name, age, a))

String: 우진. Integer Number: 43. Floating Number: 0.12345678901234568

#### 형식 지정 문자열에서 숫자 출력 형식 지정

In [32]:
print("{0:.2f}, {0:.5f}".format(a))

0.12, 0.12346

## 6.2 키보드 입력
`` data = input("문자열") ``

In [33]:
yourName = input("당신의 이름은? ")
print("당신은 {}이군요.".format(yourName))

당신의 이름은?  안우진

당신은 안우진이군요.

## 6.3 파일 읽고 쓰기
### 파일 열기
``f = open('file_name', 'mode')``

|mode|의미|
|------|------|
|r|읽기 모드로 파일 열기(기본). 모드를 지정하지 않으면 기본적으로 읽기 모드로 지정됨|
|w|쓰기 모드로 파일 열기. 같은 이름의 파일이 있으면 기존 내용은 모두 삭제됨|
|x|쓰기 모드로 파일 열기. 같은 이름의 파일이 있을 경우 오류가 발생함|
|a|추가 모드로 파일 열기. 같은 이름의 파일이 없으면 w와 기능 같음|
|b|바이너리 파일 모드로 파일 열기|
|t|텍스트 파일 모드로 파일 열기(기본). 지정하지 않으면 기본적으로 텍스트 모드로 지정됨|

- wb :  바이너리 쓰기 모드
- 아무것도 없는 경우 : 텍스트 읽기 모드

### 파일쓰기

In [36]:
f = open('myFile.txt', 'w', encoding='utf-8')
f.write('이것은 테스트 문구입니다.')
f.close()

In [37]:
!type myFile.txt

�씠寃껋�� �뀒�뒪�듃 臾멸뎄�엯�땲�떎.

### 파일읽기

In [39]:
f = open('myFile.txt', 'r', encoding='utf-8')
file_text = f.read()
f.close()

print(file_text)

이것은 테스트 문구입니다.

## 6.4 반복문을 이용해 파일 읽고 쓰기
### 파일에 문자열 한 줄씩 쓰기
구구단 2단 파일에 쓰기

In [46]:
f = open('two_times_table.txt', 'w', encoding='utf-8')
for num in range(1,10):
    format_string = "2 X {0} = {1}\n".format(num, 2*num)
    f.write(format_string)
f.close()

In [47]:
!type two_times_table.txt

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

### 파일에서 문자열 한 줄씩 읽기
#### readline()
파일로부터 한 줄씩 읽는다.  
마지막 줄을 읽고나서 한 번더 수행하면 빈 문자열을 반환한다.

In [48]:
f = open("two_times_table.txt", encoding='utf-8')
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, end="")
print(line2, end="")

2 X 1 = 2
2 X 2 = 4

In [49]:
f = open("two_times_table.txt", encoding='utf-8')
line = f.readline()
while line:
    print(line, end="")
    line = f.readline()
f.close()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

#### readlines()
파일 전체의 모든 줄을 읽어서 한 줄씩을 요소로 갖는 리스트 타입으로 반환함.

In [50]:
f = open("two_times_table.txt", encoding='utf-8')
lines = f.readlines()
f.close()

print(lines)

['2 X 1 = 2\n', '2 X 2 = 4\n', '2 X 3 = 6\n', '2 X 4 = 8\n', '2 X 5 = 10\n', '2 X 6 = 12\n', '2 X 7 = 14\n', '2 X 8 = 16\n', '2 X 9 = 18\n']

In [51]:
f = open("two_times_table.txt", encoding='utf-8')
lines = f.readlines()
f.close()

for line in lines:
    print(line, end="")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [52]:
f = open("two_times_table.txt", encoding='utf-8')
for line in f.readlines():
    print(line, end="")
f.close()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [53]:
f = open("two_times_table.txt", encoding='utf-8')
for line in f:
    print(line, end="")
f.close()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

## 6.5 with 문을 활용해 파일 읽고 쓰기
### with문의 구조
open(), close() 함수를 매번 쓰려면 매우 귀찮음.  
아래와 같이 with문을 사용하면 간편하게 파일을 조작할 수 있음.  
```
with open('file_name', 'mode') as f:
    <코드 블록>
```

In [56]:
with open('myTextFile2.txt', 'w', encoding='utf-8') as f:
    f.write('File read/write test2: line1\n')
    f.write('File read/write test2: line2\n')
    f.write('File read/write test2: line3\n')

In [57]:
with open('myTextFile2.txt', encoding='utf-8') as f:
    print(f.read())

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

# 7. 함수
## 7.1 함수 정의와 호출
$y = f(x)$

### 함수의 기본 구조
```python
def 함수명([인자1, 인자2, ... , 인자n]):
    <코드 블록>
    [return <반환 값>]
```

### 인자도 반환 값도 없는 함수

In [58]:
def my_func():
    print("My first function!")
    print("This is a function.")

In [59]:
my_func()

My first function!
This is a function.

### 인자는 있으나 반환 값이 없는 함수

In [60]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [61]:
my_friend("철수")
my_friend("영희")

철수는 나의 친구입니다.
영희는 나의 친구입니다.

In [63]:
def my_student_info(name, school_ID, phoneNumber):
    print("------------------------")
    print("- 학생이름:", name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

In [64]:
my_student_info("현아", "01", "01-234-2020")
my_student_info("진수", "02", "02-839-2948")

------------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-234-2020
------------------------
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 02-839-2948

### 인자도 있고 반환 값도 있는 함수

In [65]:
def my_calc(x, y):
    z = x * y
    return z

In [66]:
my_calc(3, 4)

12

In [67]:
def my_student_info_list(student_info):
    print("*"*20)
    print("- 학생이름:", student_info[0])
    print("- 학급번호:", student_info[1])
    print("- 전화번호:", student_info[2])
    print("*"*20)

In [68]:
student1_info = ["현아", "01", "01-235-6789"]
my_student_info_list(student1_info)

********************
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
********************

In [69]:
my_student_info_list(["우진", "09", "010-9897-2020"])

********************
- 학생이름: 우진
- 학급번호: 09
- 전화번호: 010-9897-2020
********************

## 7.2 변수의 유효 범위

In [70]:
a = 5 # 전역변수

def func1():
    a = 1 # 지역변수, func1()에서만 사용
    print("[func1] 지역 변수 a = ", a)
    
def func2():
    a = 2 # 지역변수, func2()에서만 사용
    print("[func2] 지역 변수 a = ", a)
    
def func3():
    print("[func3] 전역 변수 a = ", a)
    
def func4():
    global a # 함수 내에서 전역 변수를 변경하기 위해 선언
    a = 4    # 전역 변수의 값 변경
    print("[func4] 전역 변수 a = ", a)

In [71]:
func1()
func2()
print("전역 변수 a = ", a)

[func1] 지역 변수 a =  1
[func2] 지역 변수 a =  2
전역 변수 a =  5

In [72]:
func3()
func4()
func3()

[func3] 전역 변수 a =  5
[func4] 전역 변수 a =  4
[func3] 전역 변수 a =  4

## 7.3 람다(lambda) 함수
``` python
lambda <인자> : <인자 활용 수행 코드>
```

In [73]:
(lambda x : x**2)(3)

9

In [74]:
mySquare = lambda x : x**2
mySquare(2)

4

In [75]:
mySquare(5)

25

In [76]:
mySimpleFunc = lambda x, y, z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

## 7.4 유용한 내장함수
### 형 변환 함수
#### 정수형으로 변환
실수의 경우 소수점을 버림.

In [78]:
[int(0.123), int(3.5123456), int(-1.312345)]

[0, 3, -1]