In [1]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장.
exam_data = { '이름': ['서준', '우현', '인아'],
              '수학': [90, 80, 70],
              '영어': [98, 89, 95],
              '음악': [85, 95, 100],
              '체육' : [100, 90, 90] }

In [2]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)

    이름  수학  영어   음악   체육
서준  서준  90  98   85  100
우현  우현  80  89   95   90
인아  인아  70  95  100   90

In [3]:
df.iloc[0:3:2]

    이름  수학  영어   음악   체육
서준  서준  90  98   85  100
인아  인아  70  95  100   90

In [4]:
df.iloc[::2]

    이름  수학  영어   음악   체육
서준  서준  90  98   85  100
인아  인아  70  95  100   90

In [5]:
df.iloc[::-1]

    이름  수학  영어   음악   체육
인아  인아  70  95  100   90
우현  우현  80  89   95   90
서준  서준  90  98   85  100